html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.colorBackground {
  background: CadetBlue;
}
div#topNavi {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
}

div.button, div.buttonToolbar {
  height: 100%;
  float: left;
}
div.button img, div.buttonToolbar img {
  height: 100%;
}

div#bottomLine {
  width: 100%;
  height: 2%;
  position: absolute; 
  bottom: 0;
}

div#toolbar {
  width: 100%;
  height: 5%;
  background: LightGray;
  position: absolute;
  top: 10%;
}

div#svgDiv{
  width: 100%;
  height: 74%;
  position: absolute;
  top: 20%;
}

input, select{
	margin-right:auto; 
	margin-left:auto;
	text-align: center;
	border: 2;
	border-color: #FFFFFF;
	padding: 0.5em;		
	border-radius: 6px;
	border: solid 1px rgba(255, 255, 255, 0.35);
}	
	
button,.button {		
	border: 2;
	border-color: #FFFFFF;
	border-radius: 6px;		
}
